<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="commentMapper">

	<select id="getList" resultType="com.web.blog.model.user.Comment">
		select commentid,postid,content,date_format(create_data, '%Y-%m-%d %H:%i:%s') as createDate,userid,parent,nickname 
		from comment where postid = #{postid} 
		<!-- select * from comment where postid = #{postid} -->
	</select>

	<insert id="register" parameterType="com.web.blog.model.user.Comment">
		insert into comment values(
			default,#{postid},#{content},default,#{userid},#{parentid},#{nickname}
		)
	</insert>

	<update id="modifyComment" parameterType="com.web.blog.model.user.Comment">
		update comment set 
			content = #{content},
			create_data = default
		where commentid = #{commentid}
	</update>

	<delete id="deleteComment" parameterType="int">
		delete from comment where commentId = #{commentId}
	</delete>
	
	<select id="countComment" resultType="int">
		select count(*) from comment where postid = #{postid};
	</select>

</mapper>