<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photoMapper">

	<select id="getList" resultType="com.web.blog.model.user.Photo">
		select * from photo
	</select>

	<insert id="register" parameterType="com.web.blog.model.user.Photo">
		insert into photo values(
			default, #{postid}, #{src}, default
		)
	</insert>

	<delete id="delete" parameterType="com.web.blog.model.user.Photo">
		delete from photo where postid = #{photoid}
	</delete>

	<update id="like" parameterType="com.web.blog.model.user.Photo">
		update photo set likes = likes + 1 where photoid = #{photoid}
	</update>

	
</mapper>