:root {
  --modal-duration: 1s;
}


.modal-container {
  z-index: 100;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container .modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 80%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background: var(--primary-color);
  color: #fff;
  padding: 10px;
}

.modal-header h3 {
  margin: 0;
  /* border-bottom: 1px solid #333; */
}

.modal-content {
  padding: 10px;
}

.modal-form div {
  margin: 15px 0;
}

.modal-form label {
  display: block;
  margin-bottom: 5px;
}

.modal-form .form-input {
  padding: 8px;
  width: 100%;
}

.add-option {
  width: 100%;
}
.add-option .wrap {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin: 10px 0;
  /* float: left; */
}

.add-option p {
  /* float: left; */
  margin-right: 10px;
  color: #aaa;
}

.add-option a {
  /* float: right; */
  margin-top: 4px;
}

.close-btn {
  background: transparent;
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
