#navbar {
  position:sticky;
  width: 85%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  left: 0;
  top: 0;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 40px;
  background-color: #fff;
  z-index: 9;
}

#navbar h1 {
  float: left;
  font-size: 1em;
  font-weight: 600;
}

#navbar .right .search-input {
  position: relative;
  width: 270px;
  height: 35px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

#navbar .right .search-input .fa-search {
  position: absolute;
  left: 10px;
  top: 9px;
}

#navbar .right .search-input input {
  width: 100%;
  float: left;
  height: 100%;
  padding-left: 40px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navbar .right .login-btn {
  margin-left: 40px;
  float: left;
  margin-top: 11px;
}

#navbar .right .login-component {
  float: left;
  margin-left: 20px;
  position: relative;
}

#navbar .right .login-component .write-btn {
  float: left;
  margin-right: 40px;
  margin-top: 4px;
}

#navbar .right .login-component .profile {
  float: left;
  margin-top: 2px;
}

#navbar .right .login-component .profile .profile-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #707070;
  margin-right: 7px;
  float: left;
}

#navbar .right .login-component .profile .user-name {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
}

#navbar .right .login-component .profile .fa-angle-down {
  margin-top: 9px;
}

#navbar .right .login-component .profile .menu {
  position: absolute;
  right: 0;
  top: 40px;
  width: 160px;
  border: 1px solid #000;
}

#navbar .right .login-component .profile .menu li {
  width: 100%;
  float: left;
  text-align: left;
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

#navbar .right .login-component .profile .menu li:last-of-type {
  border-bottom: none;
}

#navbar + div {
  padding-top: 30px;
}